version: '2'
services:
  solr:
    container_name: solr-container
    image: solr:8.2.0
    ports:
     - "8983:8983"
    mem_limit: 6442450944
    mem_reservation: 6442450944
    volumes:
      - ./configsets:/opt/solr/server/solr/configsets/
      - ./create-core.sh:/usr/local/bin/create-core.sh
      - ./sample.json:/tmp/sample.json
    entrypoint:
      - create-core.sh
